@model LoginModel
@{
    ViewData["Title"] = "Zaloguj";
  
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    
    <span>Login: </span> @Html.TextBoxFor(x => x.UserName)

    <span>Hasło: </span> @Html.PasswordFor(x => x.Password)

    <img id="img" class="icon icon_pointer" src="~/icons/unvisible.png" alt="toggle visible" onclick="togglePassword()" />

    <input type="submit" value="Zaloguj" />
}
